<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a class="btn btn-circle btn-outline btn-primary" href="{{ path('fos_user_profile_edit') }}">
                    edit profile
                </a>
            </li>
            <li>
                <a class="btn btn-circle btn-outline btn-primary" href="{{ path('fos_user_change_password') }}">
                    change password
                </a>
            </li>
            <li>
                <a class="btn btn-circle btn-outline btn-primary" href="{{ path('love_dome') }}">
                    <span class="glyphicon glyphicon-heart"></span> love dome
                </a>
            </li>
            <li>
                <a class="btn btn-circle btn-outline btn-primary" href="{{ path('fos_user_security_logout') }}">
                    <span class="glyphicon glyphicon-heart"></span> logout
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="btn btn-circle btn-outline btn-primary" href="{{ path('admin') }}">
                        <span class="glyphicon glyphicon-cog"></span> admin
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</footer>