{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ul class="p-l-0">
                    <li class="list-group-item list-group-item-heading">
                        <b>Server</b>
                    </li>
                    <li class="list-group-item">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for server in servers %}
                                <tr>
                                    <td>{{ server.id }}</td>
                                    <td>{{ server.name }}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#serverDelete{{ server.id }}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="serverDelete{{ server.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Remove {{ server.name }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <span class="black">Are you sure?</span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <a class="btn btn-danger" href="{{ path('admin_server_delete', {'server': server.id}) }}">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading">
                        <b>User</b>
                    </li>
                    <li class="list-group-item">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {% if user.username == 'Lea' %}
                                            <span class="glyphicon glyphicon-heart red"></span>
                                        {% endif %}
                                        {{ user.username }}
                                        {% if user.role('ROLE_ADMIN') %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if app.user.id != user.id %}
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#userDelete{{ user.id }}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="userDelete{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Remove {{ user.username }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <span class="black">Are you sure?</span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <a class="btn btn-danger" href="{{ path('admin_user_delete', {'user': user.id}) }}">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
