<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Domitoring2{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>

        <div id="app">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'partials/navbar.html.twig' %}
            {% endif %}

            {% for message in app.flashes('success') %}
                <div class="container m-t-15">
                    <div class="alert alert-success" role="alert">
                        {{ message|trans }}
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('notice') %}
                <div class="container m-t-15">
                    <div class="alert alert-info" role="alert">
                        {{ message|trans }}
                    </div>
                </div>
            {% endfor %}

            {% for label, messages in app.flashes(['warning', 'error']) %}
                {% for message in messages %}
                    <div class="container m-t-15">
                        <div class="alert alert-danger">
                            {{ message|trans }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}


            {% block body %}{% endblock %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'partials/footer.html.twig' %}
        {% endif %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
